<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue3_practice</title>
    <link rel="stylesheet" href="./Vue3_practice/style/style.css">
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <div id="app" >
        <div v-if="showProp">
            <h2>Hi, my name is {{ name }}.I,m {{ age }}</h2>
            <h1>I got {{ score }} in the game</h1>   
            <button v-on:click="score++">Increase the score</button>
            <button v-on:click="score--">Decrease the score</button>
            <div @click="changeName">Click me to change my name</div>
        </div>     
        <button @click="toggleProp">
            <span v-if="showProp">collapse the property</span>
            <span v-else>show the property</span>
        </button>
        <div v-show="!showProp">collapsing property</div>
        <br>

        <div class="box" @mouseover="handleEvent($event, 5)">mouseover (enter)</div>
        <div class="box" @mouseleave="handleEvent($event, 10)">mouseleave</div>
        <div class="box" @dblclick="handleEvent">double click</div>
        <div class="box" @mousemove="handleMouseMove">position ({{x}},{{y}})</div>
           
    </div>
    <script src="./Vue3_practice/script/app.js"></script>
</body>
</html>